.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../images/close.button.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  max-height: 436px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  width: 440px;
  height: 24px;
  margin-bottom: 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input:focus-visible {
  border: none;
  outline: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  width: 173px;
  height: 108px;
  gap: 8px;
  margin-bottom: 32px;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__submit {
  background-color: #0000004d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 124px;
  height: 36px;
}

.modal__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__image {
  width: 496px;
  height: 436px;
  max-width: 100%;
  width: 358px;
  display: flex;
  flex-direction: column;
  padding: 36px;
  border-radius: 10px;
  position: relative;
}
