.profile {
  display: flex;
  flex-direction: row;
}

.profile__sidebar {
  flex: 1;
  flex-direction: row;
  max-width: 300px;
}

.profile__clothing-items {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
