.cards__list {
  display: flex;
  gap: 0;
}

.card {
  width: 325px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  margin-top: 34px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card__name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
  padding: 2px 10px;
  border-radius: 10px;
  background-color: white;
}

.card__info {
  position: absolute;
  top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  cursor: pointer;
}

.card__delete-button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #ff4500;
  cursor: pointer;
  transition: color 0.2s ease;
}

.card__delete-button:hover {
  color: #d93600;
}

.card__like-button {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  background-image: url(/src/images/heart.button.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(/src/images/liked.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
