.modal__image {
  width: 498px;
  height: 498px;
  padding: 0;
  z-index: 0.9;
}

.modal__footer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 28px 22px 28px;
}

.modal__caption {
  width: 36px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 8px 0;
}

.modal__weather {
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
